node_modules
*.log
distribution
firebase.json
out.ts
viewApp.js
/src/**/**.js
/narumincho-creative-record/dist
/bower_components/
/node_modules/
/.pulp-cache/
/output/**/**.js
/output/**/**.cbor
/output/cache-db.json
/generated-docs/
/.psc-package/
/.psc*
/.purs*
/.psa*
/.spago
