node_modules
*.log
/out.ts
/viewApp.js
/localData.js
/distribution
/src/**/**.js
/bower_components/
/node_modules/
/.pulp-cache/
/output/**/**.js
/output/**/**.cbor
/output/cache-db.json
/generated-docs/
/.psc-package/
/.psc*
/.purs*
/.psa*
/.spago
/build/**/**.js
/gen/**/**.js
/core/**/**.js
