app = "definy"
primary_region = "nrt"

[build]
dockerfile = "Dockerfile.flyio-deploy"

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = "stop"
  auto_start_machines = true
  min_machines_running = 0
  [http_service.concurrency]
    type = "requests"
    soft_limit = 200
    hard_limit = 250
