@font-face {
    /* M+ M Type-2 regular */
    font-family: "mplus-2m-regular";
    src: url("assets/mplus-2m-regular-sub.woff") format("woff");
}

html {
    width: 100%;
    height: 100%;
    --accentColorBg: #ffa500;
    --accentColorText: #111;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    overflow: hidden;
}

* {
    box-sizing: border-box;
}

svg {
    display: block;
}

img {
    display: block;
}

/* ==================================================================
=====================================================================
                            Tree Panel
=====================================================================
================================================================== */

.treePanel {
    background-color: #252525;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

/* ==================================================================
                            Tree Panel
================================================================== */

.treePanel-title {
    color: #b9d09b;
    margin: 0;
    padding: .2rem;
    font-size: 2rem;
    font-family: "Segoe UI";
    font-weight: 300;
    letter-spacing: 0.08rem;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    user-select: none;
    text-align: center;
}

/* ==================================================================
                        Tree Panel - Item
================================================================== */

.treePanel-item {
    display: grid;
    grid-template-columns: 20px 1fr 20px;
    grid-template-rows: 1fr;
    height: 30px;
    user-select: none;
    font-family: "Segoe UI";
    font-size: 1.2rem;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.20);
    background-color: #252525;
    color: #888;
    white-space: nowrap;
    overflow: hidden;
}

.treePanel-itemWithChildren {
    display: grid;
    grid-template-columns: 20px 1fr 20px;
    grid-template-rows: 30px max-content 10px;
    /* height: 30px; */
    user-select: none;
    color: #888;
    font-family: "Segoe UI";
    font-size: 1.2rem;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    background-color: #252525;
    color: #888;
    overflow: hidden;
}

.treePanel-item--active {
    background-color: #c9c9c92d;
    color: #eee;
}

.treePanel-item--select {
    background-color: var(--accentColorBg);
    color: #111;
}

/* openCloseIcon */

.treePanel-item-openCloseIcon {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.2));
}

/* content */

.treePanel-item-content {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
}

.treePanel-item-content-icon {
    height: 30px;
    flex-shrink: 0;
    padding: 5px;
    filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.2));
}

/* option */

.treePanel-item-option {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    padding: 3px 2px;
    filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.2));
}

/* children */

.treePanel-item-children {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
}

/* ==================================================================
=====================================================================
                        Editor Group Panel
=====================================================================
===================================================================*/

.editorGroupPanel {
    flex-grow: 1;
    background-color: #181818;
    color: #ddd;
    overflow: hidden;
    display: flex;
    user-select: none;
    position: relative;
}

.editorGroupPanel-column {
    display: flex;
    flex-direction: column;
}

.editorGroupPanel-editor {
    background-color: #181818;
    color: #aaa;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.editorGroupPanel-editor-active {
    background-color: #222;
    color: #ddd;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.editorGroupPanel-editorTitle {
    display: flex;
    align-items: center;
    height: 40px;
}

.editorGroupPanel-editorTitle-text {
    flex-grow: 1;
    font-family: "Segoe UI";
    font-size: 1.4rem;
    padding: 10px;
}

.editorGroupPanel-editorTitle-closeIcon {
    width: 1.5rem;
    height: 1.5rem;
    padding: .2rem;
    flex-shrink: 0;
}

.editorGroupPanel-openEditorIcon {
    height: 50px;
    width: 50px;
    position: absolute;
    background-color: #111;
    padding: 5px;
    border-radius: .5rem;
}

/* ==================================================================
=====================================================================
                                Gutter
=====================================================================
================================================================== */

/* vertical */

.gutter-vertical {
    width: 2px;
    background-color: #444;
    flex-shrink: 0;
}

.gutter-vertical:hover {
    background-color: #666;
}

.gutter-vertical::after {
    content: "";
    cursor: ew-resize;
    display: block;
    height: 100%;
    width: 12px;
    position: relative;
    left: -5px;
    z-index: 10;
}

.gutter-vertical-active {
    width: 2px;
    flex-shrink: 0;
}

.gutter-vertical-active::after {
    content: "";
    cursor: ew-resize;
    display: block;
    height: 100%;
    width: 6px;
    position: relative;
    left: -2px;
    z-index: 10;
    background-color: #fff;
}

/* horizontal */

.gutter-horizontal {
    height: 2px;
    background-color: #444;
    flex-shrink: 0;
}

.gutter-horizontal:hover {
    background-color: #666;
}

.gutter-horizontal::after {
    content: "";
    cursor: ns-resize;
    display: block;
    width: 100%;
    height: 12px;
    position: relative;
    top: -5px;
    z-index: 10;
}

.gutter-horizontal-active {
    height: 2px;
    flex-shrink: 0;
}

.gutter-horizontal-active::after {
    content: "";
    cursor: ns-resize;
    display: block;
    width: 100%;
    height: 6px;
    position: relative;
    top: -2px;
    z-index: 10;
    background-color: #fff;
}

/* ==================================================================
=====================================================================
                        Command Palette
=====================================================================
===================================================================*/

.commandPalette {
    position: absolute;
    color: #fff;
    background-color: #000;
    width: 35rem;
    padding: 2rem;
    z-index: 2;
}

/* ==================================================================
=====================================================================
                        Editor Key Config
=====================================================================
================================================================== */

.editorKeyConfig-keyboard {
    padding: 0 1rem;
}

.editorKeyConfig-sourceTab {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    position: relative;
}

.editorKeyConfig-sourceTab-item {
    padding: .5rem;
    text-align: center;
    border-bottom: transparent solid 2px;
    color: #ccc;
}

.editorKeyConfig-sourceTab-item:hover {
    background-color: #111;
    color: #ddd;
}

.editorKeyConfig-sourceTab-item-select {
    padding: .5rem;
    text-align: center;
    border-bottom: #4ec9b0 solid 2px;
    color: #eee;
}

.editorKeyConfig-msgCard {
    width: 100px;
    border: #fff solid 1px;
}

/* ==================================================================
=====================================================================
                        Module Editor
=====================================================================
================================================================== */

.moduleEditor-description {}

.moduleEditor-description-inputArea {
    padding: 1rem;
}

.moduleEditor-description-measure {
    position: relative;
}

.moduleEditor-description-measure-text {
    font-size: 1.2rem;
    font-family: sans-serif;
    overflow-wrap: break-word;
    pointer-events: none;
    border: solid orange 1px;
    white-space: pre-wrap;
}

.moduleEditor-description-measure-lastLine {
    font-size: 1.2rem;
    color: transparent;
    font-family: sans-serif;
    overflow-wrap: break-word;
    pointer-events: none;
}

.moduleEditor-description-textarea {
    overflow-wrap: break-word;
    background-color: #000;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    resize: none;
    color: #ddd;
    background: rgba(0, 0, 0, 0.2);
    border: solid red 1px;
    font-size: 1.2rem;
    font-family: sans-serif;
    padding: 0;
}

.moduleEditor-description-textarea-focus {
    border: solid green 1px;
}

.moduleEditor-partDefinitions {
    display: flex;
    flex-direction: column;
}

.moduleEditor-partDefEditorList {
    padding: 8px;
    display: grid;
    gap: 1rem;
    flex-direction: column;
    background-color: #222;
}

.moduleEditor-partDefEditor {
    display: flex;
    flex-direction: column;
    padding: 8px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
    background-color: #181818;
}

.moduleEditor-partDefEditor-nameAndType {
    display: flex;
    font-size: 1.3rem;
    height: 32px;
    overflow: hidden;
    padding: 0;
    font-family: "mplus-2m-regular";
    align-items: center;
}

.moduleEditor-partDefEditor-name {
    display: flex;
    align-items: baseline;
    padding: 0 8px;
    border: solid 1px transparent;
    height: 32px;
    color: #d7ba7d;
}

.moduleEditor-partDefEditor-noName {
    padding: 0 8px;
    border: solid 1px transparent;
    height: 32px;
    width: 8rem;
    background-color: #000;
    color: #666;
    font-size: 1rem;
}

.moduleEditor-partDefEditor-type {
    display: flex;
    align-items: baseline;
    padding: 0 8px;
    border: solid 1px transparent;
    height: 32px;
    color: #4ec9b0;
}

.moduleEditor-partDefEditor-noType {
    display: flex;
    align-items: baseline;
    padding: 0 8px;
    border: solid 1px transparent;
    height: 32px;
    width: 7rem;
    background-color: #000;
    color: #666;
    font-size: 1rem;
}

/* 移動モードで対象になったもの */

.focused {
    /* outline: solid var(--accentColorBg) 2px; */
    background-color: var(--accentColorBg);
    color: var(--accentColorText);
}

/* 編集モードで対象になったもの */

.editTarget {
    background-color: #000;
    border: solid 1px var(--accentColorBg);
}

.moduleEditor-partDefEditor-expr {
    display: flex;
    height: 32px;
    align-items: center;
}

.moduleEditor-partDefEditor-term {
    display: flex;
    padding: 0 8px;
}

.moduleEditor-partDefEditor-op {
    display: flex;
}

.moduleEditor-partDefEditor-caretBox {
    display: block;
    width: 0;
    overflow: visible;
}

.moduleEditor-partDefEditor-caret {
    display: block;
    width: 2px;
    height: 1.5rem;
    background: #f09936;
}

.moduleEditor-partDefEditor-hideTextArea {
    /* width: 0;
    height: 0; */
    padding: 0;
    outline: none;
    border: 0;
    resize: none;
}

/* 問題がない文字 */

.moduleEditor-partDefEditor-okChar {
    color: #d7ba7d;
}

/* 使えない文字(編集内) */

.moduleEditor-partDefEditor-errChar {
    color: #e45959;
}

.moduleEditor-partDefEditor-addPartDef {
    width: 7rem;
    padding: .5rem;
}