@font-face {
    /* M+ M Type-2 regular */
    font-family: "mplus-2m-regular";
    src: url("assets/mplus-2m-regular-sub.woff") format("woff");
}

html {
    width: 100%;
    height: 100%;
    --accentColorBg: #ffa500;
    --accentColorText: #111;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    overflow: hidden;
}

* {
    box-sizing: border-box;
}

svg {
    display: block;
}

img {
    display: block;
}

/* ==================================================================
=====================================================================
                            Tree Panel
=====================================================================
================================================================== */

.treePanel {
    background-color: #252525;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

/* ==================================================================
                            Tree Panel
================================================================== */

.treePanel-title {
    color: #b9d09b;
    margin: 0;
    padding: .2rem;
    font-size: 2rem;
    font-family: "Segoe UI";
    font-weight: 300;
    letter-spacing: 0.08rem;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    user-select: none;
    text-align: center;
}

/* ==================================================================
                        Tree Panel - Item
================================================================== */

.treePanel-item {
    display: grid;
    grid-template-columns: 20px 1fr 20px;
    grid-template-rows: 1fr;
    height: 30px;
    user-select: none;
    font-family: "Segoe UI";
    font-size: 1.2rem;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.20);
    background-color: #252525;
    color: #888;
    white-space: nowrap;
    overflow: hidden;
}

.treePanel-itemWithChildren {
    display: grid;
    grid-template-columns: 20px 1fr 20px;
    grid-template-rows: 30px max-content 10px;
    /* height: 30px; */
    user-select: none;
    color: #888;
    font-family: "Segoe UI";
    font-size: 1.2rem;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    background-color: #252525;
    color: #888;
    overflow: hidden;
}

.treePanel-item--active {
    background-color: #c9c9c92d;
    color: #eee;
}

.treePanel-item--select {
    background-color: var(--accentColorBg);
    color: #111;
}

/* openCloseIcon */

.treePanel-item-openCloseIcon {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.2));
}

/* content */

.treePanel-item-content {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
}

.treePanel-item-content-icon {
    height: 30px;
    flex-shrink: 0;
    padding: 5px;
    filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.2));
}

/* option */

.treePanel-item-option {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    padding: 3px 2px;
    filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.2));
}

/* children */

.treePanel-item-children {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
}

/* ==================================================================
=====================================================================
                        Editor Group Panel
=====================================================================
===================================================================*/

.editorGroupPanel {
    flex-grow: 1;
    background-color: #181818;
    color: #ddd;
    overflow: hidden;
    display: flex;
    user-select: none;
    position: relative;
}

.editorGroupPanel-column {
    display: flex;
    flex-direction: column;
}

.editorGroupPanel-editor {
    background-color: #181818;
    color: #aaa;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.editorGroupPanel-editor-active {
    background-color: #222;
    color: #ddd;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.editorGroupPanel-editorTitle {
    display: flex;
    align-items: center;
}

.editorGroupPanel-editorTitle-text {
    flex-grow: 1;
    font-family: "Segoe UI";
    font-size: 1.4rem;
}

.editorGroupPanel-editorTitle-closeIcon {
    width: 1.5rem;
    height: 1.5rem;
    padding: .2rem;
    flex-shrink: 0;
}

.editorGroupPanel-openEditorIcon {
    height: 50px;
    width: 50px;
    position: absolute;
    background-color: #111;
    padding: 5px;
    border-radius: .5rem;
}

/* ==================================================================
=====================================================================
                                Gutter
=====================================================================
================================================================== */

/* vertical */

.gutter-vertical {
    width: 2px;
    background-color: #444;
    flex-shrink: 0;
}

.gutter-vertical:hover {
    background-color: #666;
}

.gutter-vertical::after {
    content: "";
    cursor: ew-resize;
    display: block;
    height: 100%;
    width: 12px;
    position: relative;
    left: -5px;
    z-index: 10;
}

.gutter-vertical-active {
    width: 2px;
    flex-shrink: 0;
}

.gutter-vertical-active::after {
    content: "";
    cursor: ew-resize;
    display: block;
    height: 100%;
    width: 6px;
    position: relative;
    left: -2px;
    z-index: 10;
    background-color: #fff;
}

/* horizontal */

.gutter-horizontal {
    height: 2px;
    background-color: #444;
    flex-shrink: 0;
}

.gutter-horizontal:hover {
    background-color: #666;
}

.gutter-horizontal::after {
    content: "";
    cursor: ns-resize;
    display: block;
    width: 100%;
    height: 12px;
    position: relative;
    top: -5px;
    z-index: 10;
}

.gutter-horizontal-active {
    height: 2px;
    flex-shrink: 0;
}

.gutter-horizontal-active::after {
    content: "";
    cursor: ns-resize;
    display: block;
    width: 100%;
    height: 6px;
    position: relative;
    top: -2px;
    z-index: 10;
    background-color: #fff;
}

/* ==================================================================
=====================================================================
                        Command Palette
=====================================================================
===================================================================*/

.commandPalette {
    position: absolute;
    color: #fff;
    background-color: #000;
    width: 35rem;
    padding: 2rem;
    z-index: 2;
}

/* ==================================================================
=====================================================================
                        Editor Key Config
=====================================================================
================================================================== */

.editorKeyConfig-keyboard {
    padding: 0 1rem;
}

.editorKeyConfig-sourceTab {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    position: relative;
}

.editorKeyConfig-sourceTab-item {
    padding: .5rem;
    text-align: center;
    border-bottom: transparent solid 2px;
    color: #ccc;
}

.editorKeyConfig-sourceTab-item:hover {
    background-color: #111;
    color: #ddd;
}

.editorKeyConfig-sourceTab-item-select {
    padding: .5rem;
    text-align: center;
    border-bottom: #4ec9b0 solid 2px;
    color: #eee;
}

.editorKeyConfig-msgCard {
    width: 100px;
    border: #fff solid 1px;
}

/* ==================================================================
=====================================================================
                        Module Editor
=====================================================================
================================================================== */

.moduleEditor-description {}

.moduleEditor-description-inputArea {
    padding: 1rem;
}

.moduleEditor-description-measure {
    position: relative;
}

.moduleEditor-description-measure-text {
    font-size: 1.2rem;
    font-family: sans-serif;
    overflow-wrap: break-word;
    pointer-events: none;
    border: solid orange 1px;
    white-space: pre-wrap;
}

.moduleEditor-description-measure-lastLine {
    font-size: 1.2rem;
    color: transparent;
    font-family: sans-serif;
    overflow-wrap: break-word;
    pointer-events: none;
}

.moduleEditor-description-textarea {
    overflow-wrap: break-word;
    background-color: #000;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    resize: none;
    color: #ddd;
    background: rgba(0, 0, 0, 0.2);
    border: solid red 1px;
    font-size: 1.2rem;
    font-family: sans-serif;
    padding: 0;
}

.moduleEditor-description-textarea-focus {
    border: solid green 1px;
}

.moduleEditor-partDefinitions {
    display: flex;
    flex-direction: column;
}

.moduleEditor-partDefEditorList {
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.moduleEditor-partDefEditor {
    display: flex;
    flex-direction: column;
}

.moduleEditor-partDefEditor-nameAndType {
    display: flex;
    font-size: 1.3rem;
    line-height: 1;
    padding: 0;
    font-family: "mplus-2m-regular";
}

.moduleEditor-partDefEditor-name {
    display: flex;
}

/* 移動モードで対象になったもの */

.focused {
    outline: solid var(--accentColorBg) 2px;
}

/* 編集モードで対象になったもの */

.editTarget {
    outline: solid blue 2px;
}

.moduleEditor-partDefEditor-expr {
    display: flex;
}

.moduleEditor-partDefEditor-caret {
    display: block;
    width: 2px;
    height: 1.5rem;
    background: #f09936
}

.moduleEditor-partDefEditor-hideTextArea {
    /* width: 0;
    height: 0; */
    padding: 0;
    outline: none;
    border: 0;
    resize: none;
}

/* 名前の問題がない文字 */

.nameOkChar {
    color: #d7ba7d;
}

/* 使えない文字(編集内) */

.errChar {
    color: #e45959;
}

/* ==================================================================
=====================================================================
                            OLD
=====================================================================
================================================================== */

.moduleDefList {
    display: flex;
    flex-direction: column;
}

.accordionContent {
    flex-grow: 1;
    display: grid;
    grid-gap: .3rem;
    height: 100%;
    overflow: auto;
}

.moduleTitle {
    font-size: 1.5rem;
    font-family: "Segoe UI";
    font-weight: 500;
    padding: .5rem;
    user-select: none;
}

.accordionTitle {
    font-size: 1.3rem;
    font-family: "Segoe UI";
    font-weight: 400;
    padding: .5rem;
    background-color: #444;
    display: flex;
    align-items: center;
}

.accordionText {
    flex-grow: 1;
    user-select: none;
}

.accordionIcon {
    height: 1.3rem;
}

.accordionIcon>svg {
    height: 1.3rem;
}

.addDefButton {
    justify-self: center;
    display: inline-block;
    border-radius: 0.5rem;
    border: dotted orange 2px;
    background-color: transparent;
    color: inherit;
    padding: .5rem 1rem;
}

/*=================
        Def
==================*/

.def {
    padding: .5rem;
    display: flex;
    background-color: #222;
    overflow: hidden;
    user-select: none;
}

.defIcon {
    width: 2rem;
    display: flex;
    flex-direction: column;
}

.defTitle {
    display: flex;
}

.defExpr {
    display: flex;
}

.defContent {
    flex-grow: 1;
    padding: .5rem;
    overflow: hidden;
}

.defContent>div {
    overflow: hidden;
}

.defCompileResult {
    background-color: #abc090;
    color: #222;
    padding: .5rem;
    max-width: 50%;
}

/* テキスト編集で対象となったもの */

.target {
    background-color: #000;
    padding: 0.3rem;
    position: relative;
}

.accessIcon {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.accessIcon>svg {
    height: 1rem
}

.name {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    font-family: "mplus-2m-regular";
    padding: 0.2rem;
    line-height: 1rem;
}

.colon {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    display: flex;
    align-items: center;
}

.colon>div {
    font-size: 1.4rem;
    line-height: 1;
    display: inline;
}

.type {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    font-family: "mplus-2m-regular";
    padding: 0.2rem;
    line-height: 1;
}

/* 正しい型 */

.typeOkChar {
    color: #4ec9b0;
}

/* = */

.equals {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.expr {
    grid-column: 2 / 5;
    grid-row: 2 / 3;
    display: flex;
    font-size: 1rem;
    font-family: "mplus-2m-regular";
    padding: 0.2rem;
    line-height: 1;
}

.term {
    display: flex;
    color: #f09936;
}

.op {
    color: #ddd;
    padding: 0 0.3rem;
}

.opBlank {
    color: #e45959;
}

.caretBox {
    width: 0;
    overflow: visible;
}

.editExprCaret {
    display: block;
    width: 2px;
    height: 1.1rem;
    animation-name: caretColor;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
}

.moveExprCaret {
    display: block;
    width: 3px;
    height: 1.2rem;
    background-color: red;
}

@keyframes caretColor {
    0% {
        background: #f09936
    }
    50% {
        background: #f0993669
    }
    100% {
        background: #f09936
    }
}

.description {
    position: absolute;
    left: 0;
    top: 2.6rem;
    white-space: nowrap;
    background-color: #2d2d2d;
    border: 1px #999 solid;
    padding: .2rem;
    font-size: 1rem;
    color: #ddd;
}

.description-title {
    font-size: 1rem;
}

.suggestion {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    line-height: 1.5;
}

.suggestionItem {
    list-style: none;
    display: block;
}

.suggestionSubText {
    font-size: .9rem;
    color: #a2a2a2;
    padding-left: 1rem;
}

.place-holder {
    color: #777;
}