name: type check and test

on: pull_request

jobs:
  test:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - uses: Swatinem/rust-cache@v2
      - run: cargo install wasm-bindgen-cli
      - run: rustup target add wasm32-unknown-unknown
      - run: cargo run -p definy-build
      - run: cargo test
      - run: cargo build -p definy-server --release
