name: type check and build test

on:
  pull_request:
    branches:
      - main

jobs:
  type-check-and-build-test:
    name: type check and build test
    runs-on: ubuntu-latest
    steps:
      - name: checkout repository
        uses: actions/checkout@v2
      - name: setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: "14"
      - name: Install npm dependencies (npm ci)
        run: npm ci
      - name: Run build script
        run: npm run production-build
      - name: type check
        run: npm run typeCheck
