name: type check and test

on: pull_request

jobs:
  type-check-and-build-test:
    name: type check and test
    runs-on: ubuntu-slim
    steps:
      - name: checkout repository
        uses: actions/checkout@v6
      - run: cargo --version
      - run: cargo test
