name: type check and test

on: pull_request

jobs:
  test:
    name: type check and test
    runs-on: ubuntu-24.04
    steps:
      - name: checkout repository
        uses: actions/checkout@v6
      - run: cargo --version
      - run: cargo binstall wasm-bindgen-cli
      - run: cargo run -p definy-build
      - run: cargo test
