name: type check and test

on: pull_request

jobs:
  type-check-and-build-test:
    name: type check and test
    runs-on: ubuntu-slim
    steps:
      - name: checkout repository
        uses: actions/checkout@v6
      - name: setup Deno
        uses: denoland/setup-deno@v2
        with:
          deno-version: v2.x
      - run: deno task build
      - run: deno check
      - run: deno lint
      - run: deno test
